.gold{
    color: #ab9159;
}

.champain{
    color: #836d41;
}

.stretch{
    list-style: none;
}

.card .content{
    position: left; /* Position the background text */
  top: 0; /* At the bottom. Use top:0 to append it to the top */
  width: 50%; /* Full width */
  padding: 10px; /* Some padding */
}

.banner{
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height:40vh;
}

.banner .img-fluid {
    max-width: 100%;
    height:70%;
  }

.banner_image1{
    background-image: url("../images/pressage_banner.jpg") ;
}

.banner_image2{
    background-image: url("../images/blocage_banner.jpg") ;
}

.banner_image3{
    background-image: url("../images/tissage_banner.jpg") ;
}

.banner_image4{
    background-image: url("../images/tissage3_banner.jpg") ;
}

.invalidFeedback {
    color: #ff0000;
    display: block;
}

footer{
    background-color:#f7f7f9;
}

.back{
   background-color:white;
   margin: 1em;
   padding: 1.5em;

}

.backy{
    background-color:white;
}
.close {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    overflow: hidden;
  }
  .close:hover::before, .close:hover::after {
    background: #c5ac1e;
  }
  .close::before, .close::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #000;
  }
  .close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .close.heavy::before, .close.heavy::after {
    height: 3px;
    margin-top: -3px;
  }

  